@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import
  "_variables",
  "utils";

body {
    margin: 0;
}

.snackbar-success {
  background-color: green !important;
}

.snackbar-error {
  background-color: red !important;
}
