<div id="filter">
  <mat-radio-group
    id="filter-type-radio-group"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="eventType"
    (change)="typeChanged($event)">
    <mat-radio-button class="example-radio-button" *ngFor="let eventType of eventTypes" [value]="eventType">
      {{eventType}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field id="filter-date-form">
    <input id="filter-date-input" matInput disabled [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date" (dateChange)="dateChanged($event)" [(ngModel)]="filter.date" >
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
    <button mat-button *ngIf='filter.date' matSuffix mat-icon-button aria-label="Clear" (click)="clearDate()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field id="filter-location-form">
    <mat-label>Location</mat-label>
    <mat-select (selectionChange)="locationChanged($event)" id="filter-location-select">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let location of locationSchemes" [value]="location.name">
        {{location.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>