<div *ngIf="data!=undefined" id="sector-popup-div">
  <h1 mat-dialog-title>Sector {{data.sector.type}} {{data.sector.id}}</h1>
  <mat-divider></mat-divider>
  <h2>Seats</h2>
  <div *ngIf="data.tickets.length > 0">
    <mat-grid-list [cols]="data.sector.colNum" rowHeight="2:1" width="100px">
      <mat-grid-tile *ngFor="let seat of data.tickets; let i = index" 
      [ngClass]="{freeSeat: !checkDisabled(seat), takenSeat: checkDisabled(seat)}">
        <button id="{{'seatId' + i}}" width="50px" height="100px" [disabled]="checkDisabled(seat)" [ngClass]="{freeSeat: !checkDisabled(seat), takenSeat: checkDisabled(seat)}"
          (click)="seatPicked(seat)">
          {{seat.seatRow}}/{{seat.seatCol}}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="data.tickets.length < 1">
    <h1>Sorry, no seats for you here.</h1>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="chosenSeats.length > 0">
    <h1>Chosen seats:</h1>
    <table id="chosenSeatsTable">
      <tr *ngFor="let seat of chosenSeats" (click)="removeSeat(date)">
        <td>Seat in row {{seat.seatRow}}, column {{seat.seatCol}}.</td>
        <td>Price {{seat.price}} eur </td>
        <td><button mat-raised-button color="error" (click)="removeSeat(seat)">Remove</button></td>
      </tr>
    </table>
  </div>
  <div *ngIf="totalPrice > 0">
    <mat-card>Total price {{totalPrice}}</mat-card>
  </div>

  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onCancelClick()" id="cancelBtn">Cancel</button>
    <button mat-button [mat-dialog-close]="chosenSeats" [disabled]="chosenSeats.length < 1" id="pickBtn">Pick</button>
  </div>
</div>