.events-container {
    margin: 10px;
    padding: 10px;
}

h3#event-name {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

h4#event-category {
    background-color: #1abc9c;
    border-left: 6px solid #f44336;
}
