<div class="example-container">
 
  <mat-form-field>
    <input id="firstNameInput" matInput placeholder="First name" [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input id="lastNameInput" matInput placeholder="Last name" [(ngModel)]="user.lastName">
  </mat-form-field>

  <mat-form-field>
    <input id="emailInput" matInput placeholder="Email" [(ngModel)]="user.email">
  </mat-form-field>

  <button id="updateButton" mat-button class="button" (click)="update()">Update</button>

</div>