.edit-event-form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    border: solid 0.5px;
    border-radius: 15px;
    border-color: darkblue;
    padding: 2%;
}

.buttons {
    margin-top: 5px;
    text-align: center;
}

button {
    margin-right: 5px;
}

.title {
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}