<div *ngIf="data!=undefined">
  <h1 mat-dialog-title>Sector {{data.sector.type}} {{data.sector.id}}</h1>
  <mat-divider></mat-divider>
  <h2>Seats</h2>
  <div *ngIf="data.tickets.length > 0">
    <mat-grid-list [cols]="data.sector.colNum" rowHeight="2:1" width="100px">
      <mat-grid-tile *ngFor="let seat of data.tickets">
        <button ng-class="seat.user!=null ? 'seatBtn' : 'seatDisabledBtn'"
        width="50px" height="100px" [disabled]="seat.user!=null" class="seatBtn"
          (click)="seatPicked(seat)">{{seat.seatRow}}/{{seat.seatCol}}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="data.tickets.length < 1">
    <h1>Sorry, no seats for you here.</h1>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="chosenSeats.length > 0">
    <h1>Chosen seats:</h1>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let seat of chosenSeats">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{seat.seatRow}}/{{seat.seatCol}}
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>



    <!-- <table>
      <tr>
        <td>Seat row:</td>
        <td>{{chosenSeat.seatRow}}</td>
      </tr>
      <tr>
        <td>Seat col:</td>
        <td>{{chosenSeat.seatCol}}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td *ngIf="chosenSeat.vip">VIP</td>
        <td *ngIf="!chosenSeat.vip">REGULAR</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>{{chosenSeat.price}}</td>
      </tr>
    </table> -->
  </div>

  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="chosenSeat" [disabled]="chosenSeat===undefined">Pick</button>
  </div>
</div>