<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        id="usernameInput"
        matInput
        placeholder="{{ 'COMMON.USERNAME' | translate }}"
        required
        [formControl]="username"
        type="text"
        id="usernameInput"
      >
      <mat-error>
        {{ getErrorMessage('username') | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
          id="passwordInput"
          matInput
          placeholder="{{ 'COMMON.PASSWORD' | translate }}"
          [formControl]="password"
          required
          type="password"
          id="passwordInput"
        >
        <mat-error>
          {{ getErrorMessage('password') | translate }}
        </mat-error>
      </mat-form-field>
      <button
        id="submitLogin"
        mat-raised-button
        id="submitLogin"
        type="submit"
        color="primary"
        [disabled]="!username.valid || !password.valid"
      >
      {{ 'COMMON.LOGIN' | translate }}
      </button>
  </form>
</div>