@import "_variables";

.events-container {
    margin: 10px;
    padding: 10px;
}

.example-form-field {
    width: 200px;
}

mat-grid-tile {
    background: lightblue;
  }

.my-div {
    width: 400px;
    height: 400px;
    background-color: red;
}