<mat-toolbar class="rise-navbar">
  <span>Rise</span>
</mat-toolbar>

<div class="rise-main-container-wrapper">

</div>
<!-- TODO: Add Slider after MVP -->
<!-- <mat-drawer-container
  class="rise-main-container-wrapper"
  autosize
>
  <mat-drawer
    #drawer class="rise-sidenav"
    mode="side"
    position="end"
  >
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="rise-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->