<mat-card fxLayout="column" class="event-card">
  <h1>
    {{event.name}}
  </h1>
  <div>
      <p *ngFor="let el of event.dateAndLocationDTO" class="event-date">{{el.date | date: 'dd/MM/yyyy'}} - {{el.location}} </p>
  </div>
  <p>
    {{event.category}}
  </p>
  <button *ngIf="!admin, else isAdmin" mat-button [routerLink]="['event/', event.id]">+ More information</button>
  <ng-template #isAdmin>
    <button mat-button [routerLink]="['edit-event/', event.id]">Edit event</button>
  </ng-template>
</mat-card>
