.info {
    margin-left: 20px;
    margin-right: 20px;
}

.my-heading {
    margin-bottom: 0;
    padding-bottom: 3px;
    font-size: small;
}

.my-heading2 {
    margin-bottom: 0;
    padding-bottom: 6px;
    font-size: small;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

mat-card {
    border: solid 0.5px;
    border-radius: 15px;
    border-color: #4131cc;
}