<div>
  <mat-card>
    <mat-card-header>
     <mat-card-title-group>
       <mat-card-title>
         <h1 id="username">{{user.username}}</h1>
       </mat-card-title>
     </mat-card-title-group>
     <div fxFlex></div>
     <div fxLayoutAlign="center center">
       <button mat-stroked-button [routerLink]="['/edit-profile']" id="editProfileButton">Edit profile</button>
     </div>
    </mat-card-header> 
    <mat-card-content>
      <label for="firstName">First name</label>
        <h3 id=firstName>{{user.firstName}}</h3>    
     <label for="lastName">First name</label>
        <h3 id="lastName">{{user.lastName}}</h3>  
      <label for="email">First name</label>  
        <h3 id="email">{{user.email}}</h3>    
    </mat-card-content>
  </mat-card>
  <app-tickets [tickets]="reservations" title="Reservations" (refreshTable)="fetchData()"></app-tickets>
  <app-tickets [tickets]="boughtTickets" title="Bought tickets"></app-tickets>

</div>