<div class="register-container">
  <mat-form-field>
    <input
          matInput
          placeholder="{{ 'COMMON.USERNAME' | translate }}"
          [formControl]="username"
          required
          type="text"
        >
        <mat-error>
          {{ getErrorMessage('username') | translate }}
        </mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input
          matInput
          placeholder="{{ 'COMMON.PASSWORD' | translate }}"
          [formControl]="password"
          required
          type="password"
        >
        <mat-error>
          {{ getErrorMessage('password') | translate }}
        </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
          matInput
          placeholder="{{ 'COMMON.FIRSTNAME' | translate }}"
          [formControl]="firstName"
          required
          type="text"
        >
        <mat-error>
          {{ getErrorMessage('firstName') | translate }}
        </mat-error>
  </mat-form-field>

  <mat-form-field>
  <input
    matInput
    placeholder="{{ 'COMMON.LASTNAME' | translate }}"
    [formControl]="lastName"
    required
    type="text"
  >
  <mat-error>
    {{ getErrorMessage('lastName') | translate }}
  </mat-error>
  
</mat-form-field>

<mat-form-field>
    <input
    matInput
    placeholder="{{ 'COMMON.EMAIL' | translate }}"
    [formControl]="email"
    required
    type="email"
    >
  
    <mat-error *ngIf="email.invalid">{{getErrorMessage('email') | translate}}</mat-error>

</mat-form-field>
   
  <button mat-button (click)="onSubmit()" [disabled]="!firstName.valid || !email.valid || !password.valid || !lastName.valid || !lastName.valid" >Register</button>
</div>