<div class="example-container">
 
  <mat-form-field>
    <input matInput placeholder="First name" id="firstNameInput" [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name"  id="lastNameInput" [(ngModel)]="user.lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" id="emailInput" [(ngModel)]="user.email">
  </mat-form-field>

  <button mat-button class="button" id="updateButton" (click)="update()">Update</button>

</div>