mat-grid-tile {
  background: lightblue;
}
table {
  width: 100%;
}
#locationCanvas{
  width: 50%;
  height: 50%;
  color: red;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
