<div class="add-event-form">
  <p class="create-event-title">Create an event</p>
  <mat-form-field>
    <input matInput [formControl]="name" type="text" placeholder="Event name">
    <mat-error>
      {{ getErrorMessage('name') | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [formControl]="description" placeholder="Event description"></textarea>
    <mat-error>
      {{ getErrorMessage('description') | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" [formControl]="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
    <mat-error>
      {{ getErrorMessage('category') | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input #dateInput matInput [matDatepicker]="picker" [min]="today" placeholder="Choose dates on the right, they will be added as you pick them"
          (dateChange)="addDate($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  
  <p class="dates-title" *ngIf="datesPicked()">Dates:</p>
  <div class="dates">
    <mat-card *ngFor="let date of dates" (click)="removeDate(date)">{{date}}</mat-card>
  </div>

  <p class="click-to-remove-label" *ngIf="datesPicked()">(Click on a date to remove it)</p>

  <div class="buttons">
    <button [routerLink]="['/admin']" mat-stroked-button color="primary">Back</button>
    <button 
      (click)="goToNextStep()" 
      mat-raised-button color="primary" 
      [disabled]="!name.valid || !description.valid || !category.valid || !datesPicked()"
    > Next
    </button>
  </div>
  
</div>
